language: node_js
cache:
  directories:
    - "~/.npm"
notifications:
  email: false
node_js:
  - 15
install:
  - npm ci
script:
  - npm run test
  - npm run codecov
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
env:
  global:
    secure: KJrQMh1PcTdKI7CwxRJ2pOi96LNQG9HWT7ZxbLbX4hz+uQYZ7WLkXwTjmDDdxDvE4tizehc6Gs0AcAEtKyVi3mQhSK699aD+fDqBPi0s9MoeyJhBJsHJsPpFPPUYGeA4yOWu9aEpOWf6AX7qsBDqJyHQWONL7nLMmO8FOIkOuLlHk4Mtrg2YZcfPmkNSl1UhRCWRBOfX1CCYu5LoosjPbCC6qbgupfmaXchGKPDzEJMEEFAh+VgX4tBKeFLqBejmTBGnJp7LfXb/UfziWVmHg3JrHrX8WIRurD5sZkaCB+CS+YCRc4BWUHqundZ+M3Oqv2+GcQvh+I5Hcy7uxgo/OBEnRDLkZBHmtrhzPplphm9AXqq8OcqxJYmsorJVEOX0g3yTwqr4lH6GbNB/Ce/goI+7vKNJ4/MJ4N/rdze8ZvDDuqiiSUFT2tQOx0t8s6TO/bgUvRUoM+nfAdoQx9F7wblbx7bHgNpWIQrA6jQqE91SQzE8fKomYUso0KOBgBqY5P7vG9DZZguY+deaHyXHudEJ+l36Mf0fEjFLnUK5jnZNHnB5aqPvL16H6yftnFNbiqXvTFHrmVOosKwzGDmdkbB4a/i61kgMYaJ9ytI7Je6X/6VoatB0MwL5qdcq6BIP5Y39yP1uclJtWLA2QQXlf/MPg96DMORl7rOkbUNkhwU=
